.button a, .button-application, .send-application .button-upgrade a, .button-call a {
  padding: 11px 30px;
  font-family: "RobotoBold", sans-serif;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}

body {
  font-size: 16px;
  line-height: 1.6;
  min-width: 320px;
  font-family: "RobotoRegular", sans-serif;
  color: #333333;
}

header {
  background-image: url("../img/headerBG.jpg");
  min-height: 640px;
  background-size: cover;
  background-position: top center;
}

.phone-number .wrapper .active {
  text-decoration: underline;
}

.top-header {
  padding-top: 20px;
}

.main-title {
  font-size: 40px;
  font-family: "CleanvertisingLight", sans-serif;
  color: #fff;
  margin: 45px 0 0;
}

.location-city {
  color: #fff;
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 30px;
  margin-top: 0;
}

.logo a {
  font-size: 40px;
  font-family: .logo a bold;
  color: #fff;
}

.phone-number {
  text-align: right;
  color: #fff;
}

.phone-number .tab {
  text-transform: uppercase;
  font-style: "RobotoRegular", sans-serif;
  font-size: 17px;
}

.phone-number .tab_content {
  font-size: 40px;
}

.discounts .tabs {
  font-size: 0;
}

.discounts .tab {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-family: "RobotoBold", sans-serif;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 12px 24px;
}

.discounts .tab.active {
  color: #000;
  background-color: rgba(255, 255, 255, 0.6);
}

.discounts .tab_content {
  max-width: 635px;
  background-color: rgba(255, 255, 255, 0.6);
}

.tab-menu {
  list-style: none;
  padding-top: 10px;
  margin-top: 10px;
  font-family: "RobotoBold", sans-serif;
  font-size: 18px;
}

.tab-menu li:first-child:before {
  content: url("../img/hat.png");
  margin-right: 15px;
}

.tab-menu li:nth-child(2):before {
  content: url("../img/burgerOnTab.png");
  margin-right: 25px;
}

.tab-menu li:last-child:before {
  content: url("../img/earth.png");
  margin-right: 23px;
}

.button {
  text-align: right;
  margin: 30px 20px 0;
  padding-bottom: 30px;
}

.button a {
  color: #fff;
  background-color: #9b1818;
}

.info-bar {
  background: #c7d9ee;
  background: -webkit-linear-gradient(top, #c7d9ee 0%, #e7eef7 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#c7d9ee), to(#e7eef7));
  background: linear-gradient(to bottom, #c7d9ee 0%, #e7eef7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7d9ee', endColorstr='#e7eef7',GradientType=0 );
}

.info-bar-content {
  text-transform: uppercase;
  padding: 35px 0 35px;
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 11px;
  color: #003469;
  vertical-align: bottom;
}

.info-bar-content p {
  margin: 0;
}

.info-bar-text span {
  font-size: 19px;
}

.info-bar-text .ten-years {
  font-size: 14.3px;
}

.trust {
  color: #003469;
  font-size: 50px;
  font-family: "CleanvertisingLight", sans-serif;
  text-align: center;
}

.trust-profi-title {
  color: #9b1818;
  font-family: "RobotoBold", sans-serif;
  font-size: 28px;
  margin: 0 0 10px 0;
  line-height: 0.8em;
}

.trust-profi-text {
  color: #333;
  font-size: 16px;
  font-family: "RobotoRegular", sans-serif;
  margin: 0;
}

.row-items {
  margin-bottom: 38px;
}

.row-items span {
  font-style: italic;
}

.form-to-contact {
  color: #666;
  font-family: "RobotoRegular", sans-serif;
  border: 5px solid #67bc5c;
  background-color: #f7f7f7;
}

form h3 {
  font-family: "RobotoBold", sans-serif;
  font-family: 22px;
  color: #444;
  text-align: center;
  text-transform: uppercase;
}

form p {
  margin-bottom: 7px;
}

.form-input {
  text-align: center;
  max-width: 286px;
}

.input-input {
  max-width: 290px;
}

.button-application {
  background-color: #67bc5c;
  border: none;
  text-align: center;
}

.trust-button {
  margin: 36px 0 44px;
  text-align: center;
}

.slider {
  text-align: center;
  background-image: url("../img/slider_BG.png");
  min-height: 641px;
  color: #fff;
  background-size: cover;
  background-position: top center;
}

.feedback {
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 50px;
  margin: 50px 0 77px;
}

figure img {
  margin-bottom: 17px;
}

figure .people-name {
  font-size: 22px;
  font-family: 'TimesNewRoman';
  font-style: italic;
  margin-bottom: 21px;
}

.line-simple {
  border: 1px solid #cea380;
  max-width: 80px;
  margin: 0 auto 29px;
}

.text-response {
  font-family: "RobotoRegular", sans-serif;
  font-size: 15px;
}

.owl-prev:before {
  content: "";
  background-image: url("..img/left_arrow.png");
  width: 20px;
  height: 70px;
  position: absolute;
}

.owl-next:after {
  content: "";
  background-image: url("..img/right_arrow.png");
  width: 20px;
  height: 70px;
}

.send-application {
  background-image: url("../img/send_message_BG.png");
  text-transform: uppercase;
  text-align: center;
}

.send-application-title {
  background-color: rgba(255, 255, 255, 0.13);
  color: #fff;
  font-size: 25px;
  font-family: "RobotoBold", sans-serif;
  text-align: center;
  padding: 7px 0;
  margin: 37px 0 31px;
}

.send-application .button-upgrade {
  padding-bottom: 32px;
}

.send-application .button-upgrade a {
  color: #000;
  background-color: #fff;
}

.found-us {
  margin-bottom: 85px;
}

.found-us p {
  font-family: "CleanvertisingLight", sans-serif;
  color: #000;
  font-size: 50px;
  line-height: 1em;
  text-align: right;
  margin: 35px 0 35px;
}

.found-us .cities {
  background-color: #9b1818;
  font-family: "RobotoBold", sans-serif;
  font-size: 16px;
  color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 5px solid #9b1818;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  margin-top: 35px;
}

.found-us .wrapper .active {
  background-color: #FFF;
  color: #9b1818;
}

.ph-num-quest {
  color: #9b1818;
  font-family: "RobotoRegular", sans-serif;
  font-size: 18px;
}

.ph-num-quest .tabs {
  text-transform: uppercase;
}

.ph-num-quest .tab-item {
  font-family: "RobotoRegular", sans-serif;
  font-size: 30px;
  color: #9b1818;
}

.ph-num-quest .wrapper .active {
  text-decoration: underline;
}

.questions {
  text-align: center;
}

.questions h3 {
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 50px;
  color: #000;
  margin-bottom: 27px;
}

.questions p {
  color: #333;
  font-family: "RobotoRegular", sans-serif;
  font-size: 18px;
}

.ph-num-quest {
  margin-bottom: 37px;
}

.button-call {
  margin-bottom: 188px;
}

.button-call a {
  background-color: #9b1818;
  color: #fff;
}
