.menu-projects {
    text-align: left;
}
.menu-projects .git-mine {
    margin-left: 11px;
    font-size: 18px;
}
.img-course {
    max-width: 160px;
}
.img-b {
    width: 80px;
    margin-top: 10px;
}

.iconbox {
    height: 270px;
}
.plus {
    top: 12px;
}