    /*TV*/
    
    .tv-container {
        padding: 3px;
        border: 1px solid #000;
        border-radius: 5px;
        margin: 10px 10px;
        max-width: 800px;
    }
    
    .tv-and-board {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    
    .board {
        width: 100px;
        border: 1px solid #000;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000;
    }
    
    .board>div {
        margin: 3px 0;
    }
    
    .volume-buttons {
        display: flex;
        width: 108px;
        justify-content: space-around;
    }
    
    .tv-box {
        width: 350px;
        height: 180px;
        box-sizing: border-box;
    }
    
    .tv-name {
        color: #fff;
    }
    
    .tv-screen {
        max-width: 100%;
        height: 90%;
        border-radius: 2px;
        border: 3px solid #000;
        background-color: grey;
        border-bottom: 0px solid #000;
        margin: 0 auto;
    }
    
    .tv-bottom {
        max-width: 100%;
        margin: 0 auto;
        background-color: #000;
    }
    
    .tv-indicator {
        margin: 0 auto;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid red;
    }
    
    .img-styles {
        display: flex;
        position: relative;
        /*flex-direction: column;
        justify-content: space-between;*/
        max-width: 100%;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .channel-box {
        display: none;
        font-size: 16px;
        color: #00FFA9;
        margin-left: 3px;
    }
    
    .volume-box {
        display: none;
        color: #00FFA9;
        margin-left: 3px;
        position: absolute;
        bottom: 0;
        /*vertical-align: bottom;*/
        /*align-self: flex-end;*/
    }
    
    .volume-item {
        display: inline-block;
        width: 5px;
        height: 10px;
        background-color: #00FFA9;
        margin: 0 1px;
    }
    
    .tv-info {
        background-color: #3AE2CE;
        border: 1px solid #000;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    
    .remove-device-block {
        text-align: right;
    }
    
    .remove-product-block {
        text-align: right;
    }
    
    .remove-device {
        cursor: pointer
    }
    
    .remove-product {
        cursor: pointer
    }
    
    .refr-container {
        padding: 3px;
        border: 1px solid #000;
        border-radius: 5px;
        margin: 10px 10px;
        max-width: 800px;
    }
    
    .cooling-camera-container {
        padding: 3px;
        border: 1px dashed #000;
        border-radius: 5px;
        margin: 10px 10px;
    }
    
    .freezing-camera-container {
        padding: 3px;
        border: 1px dashed #000;
        border-radius: 5px;
        margin: 10px 10px;
    }
    
    .fa-thermometer-empty {
        color: red;
    }
    
    .fa-snowflake-o {
        color: blue;
    }
    
    .item-product {
        display: flex;
        justify-content: space-between;
        padding: 3px;
        margin: 4px 0;
        max-width: 200px;
        border-radius: 5px;
        border: 1px dashed #000;
    }
    
    .input-height {
        height: 30px;
    }