@import "reset";
$segoe: 'SegoeWPN', sans-serif;

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

body {
	background-color: #fff;
	color: #6c6c6c;
	font-family: $segoe;
}

// img {
// 	width: 100%;
// }

// * -- HEADER --  *
header {
	margin: 0 auto;
	max-width: 1024px;
	min-height: 89px;
	padding: 0 27px;
	position: relative;
	& img {
		margin-top: 22px;
	}
}

.logo {
	display: block;
	float: left;
	width: 178px;
	height: 44px;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: 23px;
}
.mob-menu {
	display: none;
}
.nav-menu {
	float: right;
	padding-top: 45px;
	& li {
		display: inline-block;
		margin-right: 30px;
		padding: 0 2px 21px 2px;
		border-bottom: 3px solid transparent;
		transition: all 1s;
		& a {
			text-decoration: none;
			font-size: 20.35px;
			color: #6c6c6c;
		}
	}	
}
.nav-menu li:last-child {
	margin-right: 0;
}

.nav-menu li:hover {
	border-bottom: 3px solid #5094f2;
}
.burger {
	display: none;
	
}

// -- * SLIDER -- *
.slider {
	position: relative;
	background-image: url('../img/BG_Slider.png');
	background-size: cover;
	background-position: top center;
	margin-bottom: 63px;
	.saw {
		left: 0;
		height: 8px;
		background-image: url('../img/BG_slider_bottom_saw.png');
	}
	.owl-prev:after {
		content: "";
		background-image: url("../img/arow_left.png");
		width: 25px;
		height: 63px;
		position: absolute;
		top: 45%;
		left: 20px;
	}.owl-next:after {
		content: "";
		background-image: url("../img/arow_right.png");
		width: 25px;
		height: 63px;
		position: absolute;
		top: 45%;
		right: 20px;
	}
}

.item-content  {
	max-width: 1024px;
	margin: 0 auto;
	color: #fff;

	.iphone-img {
		float: left;
		margin: 38px 98px 20px 46px;
		img {
			max-width: 345px;
			width: 100%;
		}
	}
	.item-description {
		padding: 152px 0 0;
		float: left;
		h3 {
			font-size: 44px;
			margin-bottom: 15px
		}
		p {
			font-size: 20.35px;
			margin-bottom: 15px
		}
		.button-img {
			margin: 31px 0 0 10px;
		}
	}
}
// -- * CONTENT -- *
.content {
	max-width: 1024px;
	margin: 0 auto;
}
.content-icons {
	margin-bottom: 93px;
	figure {
		text-align: center;
		display: inline-block;
		max-width: 33%;
		img {
			margin-bottom: 27px;
		}
		h4 {
			font-size: 20.35px;
			color: #5094f2;
			margin-bottom: 8px;
		}
		p {
			font-size: 14.35px;
			line-height: 1.15em;
			padding: 0 38px;
		}
	}
	.content-line {
		border: 1px solid #e5e5e5;
		display: none;
	}
}

// -- * BASKET -- *
.basket {
	max-width: 1024px;
	margin: 0 auto;
	padding-bottom: 49px;
	.shopping-cart {
		float: left;
		text-align: center;
		h3 {
			font-size: 42.35px;
			margin-bottom: 33px;
		}
		img {
			max-width: 371px;
			width:100%;
		}
	}
	.basket-text {
		float: left;
		margin: 53px 0px 0 80px;
		max-width: 470px;
		h4 {
			font-size: 26.35px;
			margin-bottom: 20px;
		}
		p {
			font-size: 15.35px;
			line-height: 36px;
		}
	}
}
.line {
	border: 1px solid #e5e5e5;
	margin-bottom: 29px;
}

// -- * FOOTER -- *
footer {
	max-width: 1024px;
	margin: 0 auto;
	padding-bottom: 40px;
	p {
		text-align: center;
		font-size: 15.35px;
	}
}

@media only screen and (max-width: 760px){
	// .nav-menu {
	// 	display: none;
	// }
	.nav-menu {
		display: none;
		float: none;
		position: absolute;
		top: 100%;
		padding-top: 0;
		background-color: rgba(80, 148, 242, 0.8);
		z-index: 1;
		width: 100%;
		left: 0;
		text-align: center;
		& li {
			display: block;
			margin-right: 0px;
			padding: 0 2px 21px 2px;
			border-bottom: 3px solid transparent;
			transition: all 1s;
			& a {
				color: #000;
			}
		}	
	}

	.burger {
		display: block;
		float: right;
		cursor: pointer;
	}

	.content-icons {
		margin-bottom: 21px;
		figure {
			margin: 21px 0 21px 42px;
			display: block;
			max-width: 100%;
			// overflow: hidden;
			img {
				margin: 0 20px 0 0;
			}
			.content-image {
				float: left;
			}
			figcaption {
				text-align: left;
				padding: 35px 70px 0 22px;

				h4 {
					font-size: 34.13px;
					margin-bottom: 8px;
				}
				p {
					font-size: 19.35px;
					padding: 0;
				}
			}

		}
		.content-line {
			border: 1px solid #e5e5e5;
			display: block;
		}
	}
	.basket {
		padding-bottom: 20px;
		.shopping-cart {
			float: none;
			text-align: center;
			h3 {
				font-size: 42.35px;
				margin-bottom: 33px;
			}
		}
		.basket-text {
			float: left;
			margin: 40px 45px 0 45px;
			max-width: 100%;
			h4 {
				font-size: 26.35px;
				margin-bottom: 20px;
			}
			p {
				text-align: justify;
				font-size: 15.35px;
				line-height: 36px;
			}
		}
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.slider {
		margin-bottom: 25px;
	}

	.item {
		margin: 0 auto;
		text-align: center;
		.item-content  {
			margin: 0 auto;
			color: #fff;
			.iphone-img {
				float: none;
				margin: 0 auto;
			}
			.item-description {
				padding: 10px 0 0;
				float: none;
				h3 {
					font-size: 20px;
					margin-bottom: 10px
				}
				p {
					font-size: 15px;
					margin-bottom: 7px
				}
				.button-img {
					margin: 10px 0 0 0px;
				}
			}
		}
	}
	.content-icons {
		margin-bottom: 10px;
		figure {
			margin: 10px 0 10px 0px;
			img {
				margin-bottom: 10px;
			}
			.content-image {
				float: none;
			}
			figcaption {
				text-align: center;
				padding: 9px 12px 0 12px;
				h4 {
					font-size: 25px;
					// margin-bottom: 8px;
				}
				p {
					font-size: 19.35px;
				}
			}
		}
	}
	.basket {
		padding-bottom: 20px;
		.shopping-cart {
			float: none;
			h3 {
				font-size: 30px;
				margin-bottom: 15px;
			}
		}
		.basket-text {
			float:none;
			margin: 20px 15px 0 15px;
			h4 {
				font-size: 20px;
				margin-bottom: 15px;
			}
			p {
				text-align: justify;
				font-size: 15.35px;
				line-height: 36px;
			}
		}
	}
}