.banner{
	margin: 0 0 33px;
	border: 10px solid white;
	border-radius: 3px;
	line-height: 0; // img - display:block || parent line-height: 0; or display:block && max-width:100%
	
	img{
		max-width: 100%; // for adaptive img, img border is parent
	}
	
}

.box{
	padding: 20px;
	border: 1px solid #d8d8d8;
	background: #fff;
}
.page-content{
	overflow: hidden;
}
.heading{
	font-size: 30px;
		color: black;
		font-weight: normal;
		margin: 0 0 20px;
		border-bottom: 1px solid $borderColor;
		& span{
			color: $yellowColor;
		}
	
}
.wysiwyg{
	p{
		font-size: 14px;
		margin: 0;
		line-height: 18px;
		color: $textColor;
	}
	p:first-child{
			
	}
}
.sidebar{
	margin: 0 0 0 15px;
	float: right;
	width: 245px;
}
.link{
		color: $yellowColor;
		float: left;
		line-height: 1;
		text-decoration: underline;
		
	}
.box-item{
	@include clearfix;
	
	.sub-heading{
	margin: 0 0 7px;
	font-size: 14px;
	font-weight: normal;
	color: $yellowColor;
}
	.photo{
		margin: 0 0 10px;
		line-height: 0;
		text-align: center;
		border: 1px solid $borderColor;
		img{
			max-width: 100%;
		}
		
	}
	.date{
		font-style: italic;
		font-size: 12px;
	}
	.description{
		color: $textColor;
		font-size: 12px;
		border-bottom: 1px solid $borderColor;
		padding-bottom: 20px;
	}
	
.box-item-link{
	@extend .link;
	float: right;
	@include no-decor;
}
}
